<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tuilachicuongday-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5191.site4now.net:8172/MsDeploy.axd?site=tuilachicuongday-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tuilachicuongday-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>tuilachicuongday-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BanSachConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a88c6f_tuilachicuongday;User ID=db_a88c6f_tuilachicuongday_admin;Password=taolaCUONG0507" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BanSach.Web.Models.ApplicationDbContext, BanSach.Web" MigrationConfiguration="BanSach.Web.Migrations.Configuration, BanSach.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-4LBF8B0;AttachDbFilename=|DataDirectory|\aspnet-BanSach.Web-db47ae24-02fb-4f4c-b586-d6b362b65917.mdf;Initial Catalog=aspnet-BanSach.Web-db47ae24-02fb-4f4c-b586-d6b362b65917;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-4LBF8B0;Initial Catalog=aspnet-BanSach.Web-db47ae24-02fb-4f4c-b586-d6b362b65917;Integrated Security=True;AttachDBFilename=|DataDirectory|\aspnet-BanSach.Web-db47ae24-02fb-4f4c-b586-d6b362b65917.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="BanSachConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5109.site4now.net;Initial Catalog=db_a88c6f_tuilachicuongday;User ID=db_a88c6f_tuilachicuongday_admin;Password=taolaCUONG0507</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>